<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Asymmetric Cryptography</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
			<div class="col-md-4"><legend><h1>Asymmetric Cryptosystems</h1></legend></div>
			<div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
		</div>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Classic Diffie Hellman Key Exchange</h5>
                    </div>
                    </div>
                    <a href= "/Asymmetric/diffie" type="button" class="btn btn-primary btn-lg">Diffie</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Diffie Hellman with a MIM Attack</h5>
                    </div>
                    </div>
                    <a href= "/Asymmetric/MIM" type="button" class="btn btn-primary btn-lg">MIM-Diffie</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Elliptic Curve Cryptosystem</h5>
                    </div>
                    </div>
                    <a href= "/Asymmetric/elliptic" type="button" class="btn btn-primary btn-lg">Elliptic</a>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Digital Signature Algorithm</h5>
                    </div>
                    </div>
                    <a href= "/Asymmetric/DSA" type="button" class="btn btn-primary btn-lg">DSA</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>El Gamal Cryptosystem</h5>
                    </div>
                    </div>
                    <a href= "/Asymmetric/elGamal" type="button" class="btn btn-primary btn-lg">Gamal</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Pailler Cryptosystem</h5>
                    </div>
                    </div>
                    <a href= "/Asymmetric/pailler" type="button" class="btn btn-primary btn-lg">Pailler</a>
            </div>
          </div>
	</body>
</html>