<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Common Modulus Attack</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
			<div class="col-md-4"><legend><h1>Common Modulus Attack</h1></legend></div>
			<div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
		</div>
		<div class="row">
			<div class="col-md-4"></div>
			<div class = "col-md-4"><h2>Should be working soon</h2></div>
			<div class="col-md-4"></div>
		</div>
        <div class="row">
			<div class="col-md-4"></div>
			<div class="col-md-4">
				<form class="form-horizontal" action={{ url_for('modulus') }}  method="post">
					<div class="form-group">
						<label class="control-label col-xs-3" for="encryption1">Encryption 1: </label>
						<div class="col-xs-7">
							<input type="text" class="form-control" name="encryption1" placeholder="&nbsp;&nbsp;">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="encryption2">Encryption 2: </label>
						<div class="col-xs-7">
							<input type="text" class="form-control" name="encryption2" placeholder="&nbsp;&nbsp;">
						</div>
					</div>
                    <div class="form-group">
						<label class="control-label col-xs-3" for="message">Message: </label>
						<div class="col-xs-7">
							<input type="text" class="form-control" name="message" placeholder="&nbsp;&nbsp;">
						</div>
					</div>
					<div class="form-group">
						<label class="control-label col-xs-3" for="modulus">Modulus: </label>
						<div class="col-xs-7">
							<input type="text" class="form-control" name="modulus" placeholder="&nbsp;&nbsp;">
						</div>
					</div>
					<div class="form-group">
            			<div class="col-xs-offset-3 col-xs-9">
                			<input type="submit" class="btn btn-success" value="Submit">
                			<input type="reset" class="btn btn-danger" value="Reset">
            			</div>
        			</div>
        		</form> 
        	</div>
        	<div class="col-md-4"></div></div>
	</body>
</html>