<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Davida's Attack</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
			<div class="col-md-4"><legend><h1>Davida's Attack</h1></legend></div>
			<div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
		</div>
		<div class="row">
            <div class="col-md-4"></div>
			<div class = "col-md-4"><h2>Should be working soon</h2></div>
            <div class="col-md-4"></div>
		</div>
	</body>
</html>