<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Common Modulus Attack Results</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    </head>

    <body align=center>
        <div class="row">
            <div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
            <div class="col-md-4"><legend><h1>CMA Results</h1></legend></div>
            <div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
        </div>
        <h3>c1 = {{cipher1}}</h3>
        <h3>c2 = {{cipher2}}</h3>
        <h3>s = {{s}} & t = {{t}}</h3>
        <h3>{{finalMessage}}</h3>
        <h2>Something is wrong here</h2>
    </body>
</html>