<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RSA Programs</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
			<div class="col-md-4"><legend><h1>RSA Encryption & Cracking</h1></legend></div>
			<div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
		</div>
          <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Full key generation with values displayed in generation order</h5>
                    </div>
                    </div>
                    <a href= "/RSA/RSA" type="button" class="btn btn-primary btn-lg">RSA</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Works for shared-modulus cryptosystems</h5>
                    </div>
                    </div>
                    <a href= "/RSA/CMA" type="button" class="btn btn-primary btn-lg">CMA</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Uses a generalization of Fermat's Little Theorem</h5>
                    </div>
                    </div>
                    <a href= "/RSA/iterated" type="button" class="btn btn-primary btn-lg">Iterated</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Cracks RSA at values in low-bit ranges</h5>
                    </div>
                    </div>
                    <a href= "/RSA/lowPub" type="button" class="btn btn-primary btn-lg">LPE</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Pronounced "Whiners"</h5>
                    </div>
                    </div>
                    <a href= "/RSA/wieners" type="button" class="btn btn-primary btn-lg">Wiener's</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>My Feminine Hacker Peresona</h5>
                    </div>
                    </div>
                    <a href= "/RSA/davidas" type="button" class="btn btn-primary btn-lg">Davida's</a>
            </div>
        </div>
	</body>
</html>