<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Symmetric Cryptosystems</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
			<div class="col-md-4"><legend><h1>Symmetric Cryptosystems</h1></legend></div>
			<div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
		</div>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Advanced Encryption Standard</h5>
                    </div>
                    </div>
                    <a href= "/Symmetric/AES" type="button" class="btn btn-info btn-lg">AES</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Data Encryption Standard</h5>
                    </div>
                    </div>
                    <a href= "/Symmetric/DES" type="button" class="btn btn-info btn-lg">DES</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Triple Data Encryption Standard</h5>
                    </div>
                    </div>
                    <a href= "/Symmetric/3DES" type="button" class="btn btn-info btn-lg">3DES</a>
            </div>
          </div>
          <br>
          <br>
          <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Blowfish Symmetric Block Cipher</h5>
                    </div>
                    </div>
                    <a href= "/Symmetric/blowfish" type="button" class="btn btn-info btn-lg">Blowfish</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Salsa20 Stream Cipher</h5>
                    </div>
                    </div>
                    <a href= "/Symmetric/salsa" type="button" class="btn btn-info btn-lg">Salsa20</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>ChaCha: Modification of Salsa20</h5>
                    </div>
                    </div>
                    <a href= "/Symmetric/chacha" type="button" class="btn btn-info btn-lg">ChaCha</a>
            </div>
          </div>
	</body>
</html>