<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Factoring</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
	</head>

	<body align=center>
		<div class="row">
			<div class="col-md-4"><a href= "/" type="button" class="btn btn-default btn-sm">Home</a></div>
			<div class="col-md-4"><legend><h1>Fast Factoring Methods</h1></legend></div>
			<div class="col-md-4"><a href= "https://github.com/david-UTU/CommonCryptography" type="button" class="btn btn-default btn-sm">Code</a></div>
		</div>
		<div class="row">
            <div class="col-md-4"></div>
			<div class = "col-md-4"><h2>Should be working soon</h2></div>
            <div class="col-md-4"></div>
		</div>
          <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Extended Euclidean Algorithm for GCD</h5>
                    </div>
                    </div>
                    <a href= "/Factoring/egcd" type="button" class="btn btn-primary btn-lg">Extended GCD</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Uses group theory for a new public-key cryptosystem</h5>
                    </div>
                    </div>
                    <a href= "/elliptic" type="button" class="btn btn-primary btn-lg">Elliptic Curve</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Continued factorization to increase speed</h5>
                    </div>
                    </div>
                    <a href= "/continued" type="button" class="btn btn-primary btn-lg">Continued Factorization</a>
            </div>
        </div>
        <br>
        <br>
        <div class="row">
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Miller's Algorithm; backbone component of RSA</h5>
                    </div>
                    </div>
                    <a href= "/miller" type="button" class="btn btn-primary btn-lg">Miller's Algorithm</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Dont know much here</h5>
                    </div>
                    </div>
                    <a href= "/dixons" type="button" class="btn btn-primary btn-lg">Dixon's Method</a>
            </div>
            <div class="col-xs-4">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <h5>Not my high school bio teacher</h5>
                    </div>
                    </div>
                    <a href= "/pollards" type="button" class="btn btn-primary btn-lg">Pollard's Factorization</a>
            </div>
        </div>
	</body>
</html>